<div class="container">
    <div class="row">
        <div class="md-col-4 mt-5">
            <img class="logo-cdc"
                src="https://cdn.shopify.com/s/files/1/0155/7645/t/242/assets/logo-footer.svg?v=8096540198335410660"
                alt="logomarca-cdc ">
        </div>
        <div class="md-col-4 mt-5 alinhamento">
            <h3 class="titulo">links da casa do código</h3>
            <a href="#" class="botao-meus-ebooks">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                Meus ebooks
            </a>
            <ul>
                <li class="item-link">
                    <a href="#">Sobre a Casa do Código</a>
                </li>
                <li class="item-link">
                    <a href="#">Todos os livros</a>
                </li>
                <li class="item-link">
                    <a href="#">Nossas coleções</a>
                </li>
                <li class="item-link">
                    <a href="#">Quero escrever um livro ou fazer parceira</a>
                </li>
                <li class="item-link">
                    <a href="#">Perguntas Frequentes</a>
                </li>
                <li class="item-link">
                    <a href="#">Política de Privacidade</a>
                </li>
            </ul>

            <h3 class="titulo">nas redes sociais</h3>

            <ul>
                <li>
                    <a class="compartilhar-facebook" href="http://www.facebook.com/casadocodigo" rel="nofollow"
                        title="Casa do Código no Facebook" target="_blank">/CasaDoCodigo</a>
                </li>
                <li>
                    <a class="compartilhar-twitter" href="http://www.twitter.com/casadocodigo" rel="nofollow"
                        title="Casa do Código no Twitter" target="_blank">@casadocodigo</a>
                </li>
                <li>
                    <a class="compartilhar-instagram" href="https://www.instagram.com/casadocodigo/" rel="nofollow"
                        title="Casa do Código no Instagram" target="_blank">@casadocodigo</a>
                </li>
            </ul>

        </div>
        <div class="md-col-4 mt-5 alinhamento">
            <ul>
                <li>
                    <h3 class="titulo">receba novidades e lançamentos</h3>
                </li>
                <li>
                    <input class="rodape-campoDaNewsletter" type="email" name="entry.1000000" value="" id="entry_0"
                        placeholder="seu@email.com">
                    <button class="rodape-botaoDaNewsletter" type="submit" name="submit"
                        id="submit-newsletter">ok</button>
                </li>
                <li class="item-link mt-5">
                    este site aceita
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0155/7645/t/242/assets/pagseguro.png?v=6661880332372335491"
                        alt="pag-seguro">
                    <img class="ml-4"
                        src="https://cdn.shopify.com/s/files/1/0155/7645/t/242/assets/paypal.png?v=5175702375979290565"
                        alt="paypal">
                </li>
            </ul>
        </div>
    </div>
</div>